<div class="container-fluid fondo-verde slide-home-contactanos">
	<div class="container">
		<div class="container-fluid">	
			<div class="col-md-3 contactanos-side visible-lg visible-md">
				<img src="/img/personajes/contactanos-izq.png" height="550">
			</div>
			<div class="col-md-9 col-lg-6 contactanos">
				<h2>Contáctanos</h2>

				<ul class="nav nav-tabs" id="contactanos-tabs">
					<li class="active"><a href="#argentina" data-toggle="tab">
						<img src="/img/flags/ar.png"><br/>ARG
					</a></li>
					<li><a href="#brasil" data-toggle="tab">
						<img src="/img/flags/br.png"><br/>BRA
					</a></li>
					<li><a href="#bolivia" data-toggle="tab">
						<img src="/img/flags/bo.png"><br/>BOL
					</a></li>
					<li><a href="#colombia" data-toggle="tab">
						<img src="/img/flags/co.png"><br/>COL
					</a></li>
					<li><a href="#peru" data-toggle="tab">
						<img src="/img/flags/pe.png"><br/>PER
					</a></li>
					<li><a href="#europa" data-toggle="tab">
						<img src="/img/flags/eu.png"><br/>EUR
					</a></li>
					<li><a href="#otro" data-toggle="tab">
						<img src="/img/flags/ol.png"><br/>¿Otro?
					</a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div class="tab-pane active contactanos-tab-content" id="argentina">
						<div class="row">
							<div class="col-md-9">
							Lavalle 362 4to Piso<br/>
							1049 CABA<br/>
							+54 11.5236.0314 (9 a 18 hs)<br/>
							<a href="mailto:entrenamos.ar@kleer.la">entrenamos.ar@kleer.la</a><br/>
							&nbsp;<br/>
							Te contactarás con: Constanza y Flor
							</div>
							<div class="col-md-3">
								<a href="http://qr.afip.gob.ar/?qr=5DjfcAnZHIhtGI65mHIRlA,," target="_F960AFIPInfo"><img src="http://www.afip.gob.ar/images/f960/DATAWEB.jpg" border="0" height="100"></a>
							</div>
						</div>
					</div>
					<div class="tab-pane contactanos-tab-content" id="brasil">
						Alameda Jaú, 310 113-A<br/>
						São Paulo<br/>
						+55 11.3284.5878<br/>
						<a href="mailto:treinamos.br@kleer.la">treinamos.br@kleer.la</a><br/>
						&nbsp;<br/>
						Você entrará em contato com: Angélica
					</div>
					<div class="tab-pane contactanos-tab-content" id="bolivia">
						1ro de Mayo No. 542<br/>
						Qllo., Cochabamba<br/>
						+59 1.4.4321690<br/>
						<a href="mailto:entrenamos.bo@kleer.la">entrenamos.bo@kleer.la</a><br/>
						&nbsp;<br/>
						Te contactarás con: Israel
					</div>
					<div class="tab-pane contactanos-tab-content" id="colombia">
						Calle 77 #16-38 of 302<br/>
						Bogotá<br/>
						+57 304.681.60.47 (9 a 18hs)<br/>
						<a href="mailto:entrenamos.co@kleer.la">entrenamos.co@kleer.la</a><br/>
						&nbsp;<br/>
						Te contactarás con: Lorena
					</div>
					<div class="tab-pane contactanos-tab-content" id="peru">
						Av. Juan De Aliaga 107<br/>
						Lima<br/>
						&nbsp;<br/>
						<a href="mailto:entrenamos.pe@kleer.la">entrenamos.pe@kleer.la</a><br/>
						&nbsp;<br/>
						Te contactarás con: Gustavo y Hiroshi
					</div>
					<div class="tab-pane contactanos-tab-content" id="europa">
						Hektoroviceva Ulica 2/V<br/>
						10000 Zagreb, Croatia<br/>
						+385 1 644 1527 (9 to 17 hrs Central European Time)<br/>
						<a href="mailto:training.eu@kleer.la">training.eu@kleer.la</a><br/>
						&nbsp;<br/>
						Te contactarás con: Milan
					</div>
					<div class="tab-pane contactanos-tab-content" id="otro">
						&nbsp;<br/>
						&nbsp;<br/>
						Escribenos a:<br/>
						<a href="mailto:entrenamos@kleer.la">entrenamos@kleer.la</a><br/>
						&nbsp;<br/>
						&nbsp;
					</div>
				</div>
				&nbsp;<br/>
				<a class="btn btn-social-icon btn-facebook" href="http://facebook.com/kleer.la" target="_blank">
					<i class="fa fa-facebook"></i>
				</a>
				<a class="btn btn-social-icon btn-twitter" href="http://twitter.com/kleer_la" target="_blank">
					<i class="fa fa-twitter"></i>
				</a>
				<a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/company/541684" target="_blank">
					<i class="fa fa-linkedin"></i>
				</a>
				<a class="btn btn-social-icon btn-google-plus" href="https://plus.google.com/106280725763107001222" target="_blank">
					<i class="fa fa-google-plus"></i>
				</a>
				<a class="btn btn-social-icon btn-github" href="https://github.com/kleer-la" target="_blank">
					<i class="fa fa-github"></i>
				</a>
				&nbsp;<br/>
				&nbsp;<br/>
				&nbsp;<br/>
			</div>
			<div class="col-md-3 contactanos-side visible-lg">
				<img src="/img/personajes/contactanos-dcha.png" height="550">
			</div>
		</div>
	</div>
</div>

<script>
  $(document).ready(function(){
    $('#contactanos-tabs').tab();
  });
</script>