<div class="container-fluid fondo-blanco experiencia-kleer">
	<div class="container">
		<h2>Esta es la experiencia Kleer</h2>

		<div class="panel panel-default">
  			<div class="panel-body">
  				<div class="col-md-3">
  					<img src="/img/experiencia/facilitadores.jpg" class="img-rounded img-responsive img-experiencia"/>
  				</div>
  				<div class="col-md-9">
	    			<h3>Con los profesionales más reconocidos de Latinoamérica</h3>
	    			<p>Encontrarás los mejores entrenadores, reconocidos como tal por sus pares de las Comunidades Latinoamericanas de Metodologías Ágiles.</p>

					<p>Contarás con diversidad de perfiles con amplia experiencia en la industria y la academia, así como en técnicas de facilitación y en la obtención de resultados en procesos de transformación organizacional.</p>
				</div>
  			</div>
		</div>

		<div class="panel panel-default">
  			<div class="panel-body">
	    		<div class="col-md-3">
	    			<img src="/img/experiencia/vivenciales.jpg" class="img-rounded img-responsive img-experiencia"/>
  				</div>
  				<div class="col-md-9">
	    			<h3>100% Vivenciales</h3>
	    			<p>El protagonista eres tú. Los facilitadores son guías que te acompañarán en el camino de aprendizaje.</p>
					<p>La experiencia es altamente interactiva. Desde el inicio desarrollarás habilidades como el enfoque, la auto-organización, la confianza y la apertura.</p>
				</div>
  			</div>
		</div>

		<div class="panel panel-default">
  			<div class="panel-body">
	    		<div class="col-md-3">
	    			<img src="/img/experiencia/aprendizaje.jpg" class="img-rounded img-responsive img-experiencia"/>
  				</div>
  				<div class="col-md-9">
	    			<h3>Aprendizaje que perdura</h3>
	    			<p>La riqueza sensorial, la repetición, el dibujo, y el manejo de las emociones y los tiempos en un espacio seguro y confortable hacen que aprendas de manera natural.</p> 

					<p>Vivirás éstas, las técnicas de aprendizaje colectivo y participativo, donde serás parte de un equipo auto organizado y el facilitador te guiará "desde el fondo del aula".</p>
				</div>
  			</div>
		</div>

		<div class="panel panel-default">
  			<div class="panel-body">
	    		<div class="col-md-3">
	    			<img src="/img/experiencia/motivante.jpg" class="img-rounded img-responsive img-experiencia"/>
  				</div>
  				<div class="col-md-9">
	    			<h3>Motivantes</h3>
	    			<p>¡Al final del curso te sentirás energizado! La alta colaboración e interactividad durante el proceso te dejará motivado y con ganas de implementar todo lo aprendido en tu entorno cotidiano.</p>
				</div>
  			</div>
		</div>
	</div>
</div>