<style>
	.feed-item-title {
	  font-size: 30pt;
	}
	.feed-item-desc{
		padding-top: 0px;
		padding-bottom: 30px;
	}
	.feed-item-desc a{
		display:block;
	}
</style>
<div class="container-fluid fondo-amarillo slide-header-generico">
	<div class="container">
		<div class="container-fluid container-header-generico">
			<div class="col-md-7">
				<h1>Blog</h1>
			</div>
			<div class="col-md-5 hidden-xs hidden-sm">
				&nbsp;<br/>
				<img src="/img/personajes/your-way-kleerer.png" height="400">
			</div>
		</div>
	</div>
</div>

<div class="container-fluid fondo-rosa slide-contenedor-generico">
	<div class="container fondo-blanco contenedor-generico">
		<div class="col-md-9 contenedor-main-izq">

			<script id="feed-14840567559051000" type="text/javascript"
			  src="http://rss.bloople.net/?url=http%3A%2F%2Frssmix.com%2Fu%2F8220287%2Frss.xml&detail=100&limit=20&showtitle=false&type=js&id=14840567559051000"></script>

		</div>
		<div class="col-md-3">
			<%= erb :_twitter_widget, :layout => false %>
		</div>
	</div>
</div>

<script type="text/javascript" src="/js/jquery.js"/></script>
<script type="text/javascript" src="/js/jquery.zrssfeed.min.js"/></script>
<script type="text/javascript"/>

</script>
