<script type="text/javascript" src="/js/jquery.js"/></script>
<style>
	body {
		background: url(/img/fondos/fondo-06.jpg) no-repeat center center fixed; 
	}
</style>

<div class="row">
	<div class="span8" style="background-color:rgba(255,255,255,0.9);padding:5px;-moz-border-radius: 5px; border-radius: 5px;">
		<h1><%= @category.name %></h1>
		<p class="lead"><%= @category.tagline %></p>
	</div>	
	<div class="span3" style="text-align:center;">  
		<img src="/img/logos/logo-04.png">
		<%= erb :twitter_box, :layout => false %>
	</div>
</div>
