<script type="text/javascript" src="/js/jquery.js"/></script>
<style>
	body {
		background: url(/img/fondos/fondo-06.jpg) no-repeat center center fixed; 
	}
</style>
<div class="row">
	<div class="span8" style="background-color:rgba(255,255,255,0.9);padding:5px;-moz-border-radius: 5px; border-radius: 5px;">
		<h2>Preguntas frequentes sobre la Certificación como Scrum Developer</h2>

		<h3>¿Cómo se obtiene la certificación como Scrum Developer?</h3>
		<p>La certificación CSD de <a title="Scrum Alliance" href="http://scrumalliance.org/" target="_blank">Scrum Alliance</a> se obtiene:<br>
		<ul>
			<li>Tomando los 3 módulos de este entrenamiento. Si eres CSM sólo debes tomar el módulo 3, pero te recomendamos también el módulo 2.</li>
			<li>Aprobando el examen de aptitud, que se presenta al completar el módulo 3.</li>
			<li>Cancelando la suma de USD $150, directamente a Scrum Alliance, para garantizar la membresía y certificación por 2 años.</li>
		</ul>

		<h3>¿Cómo puedo comparar ésta con las demás certificaciones de Scrum Alliance?</h3>
		<p>En <a title="Certificaciones Scrum Alliance" href="http://scrumalliance.org/pages/scrum_certification" target="_blank">este sitio</a> puedes acceder a la lista de programas que ofrece Scrum Alliance y hacerte una idea global del proceso de aprendizaje de Scrum.</p>

		<h3>¿Si ya soy Certified Scrum Master necesito tomar los 3 Módulos?</h3>
		<p>Si ya eres Scrum Master solo requieres tomar el módulo 3, pero te recomendamos también el módulo 2: Estimación y planeación.</p>

		<h3>¿Si tomo el módulo 1 y el módulo 2 puedo optar por la certificación CSM?</h3>
		<p>No. para obtener la certificación CSM, debes tomar el entrenamiento Certified Scrum Master.</p>

		<h3>¿El costo del entrenamiento incluye la certificación ante la Scrum Alliance?</h3>
		<p>No, la inscripción en Scrum Alliance se hace posterior al entrenamiento y una vez hayas aprobado el examen.</p>

		<h3>¿Cuál es el puntaje mínimo para aprobar el examen?</h3>
		<p>Se requiere un 75% de las respuestas correctas.</p>

		<h3>¿Que pasa si no apruebo el examen al final del entrenamiento?</h3>
		<p>Tienes una oportunidad más que podrás coordinar con tu instructor después del entrenamiento.</p>

	</div>	
	<div class="span3" style="text-align:center;">  
		<img src="/img/logos/logo-04.png">
		<%= erb :twitter_box, :layout => false %>
	</div>
</div>
