
<div class="container-fluid fondo-verde slide-header-generico">
	<div class="container">
		<div class="container-fluid container-header-generico">
			<div class="col-md-7">
				<h2>Nuestros clientes</h2>
			</div>
			<div class="col-md-5 hidden-xs hidden-sm">
				&nbsp;<br/>
				<img src="/img/personajes/your-way-kleerer.png" height="400">
			</div>
		</div>
	</div>
</div>

<div class="container-fluid fondo-celeste slide-contenedor-generico">
	<div class="container fondo-blanco contenedor-generico">
		<div class="col-md-9 no-hpadding contenedor-main-izq">
			<h2>Estas organizaciones confían en nosotros</h2>

           	<p><a href='clientes/equipos-scrum-en-suramericana-2015'>Paradigma Ágil en <b>Sura</b></a>
           	<br/><i>Medellín, Colombia</i>. Testimonios de Carlos Hurtado, Valentina Sierra y Jubel Correa.</p>
           	<p>
           	<a href='clientes/equipos-scrum-en-suramericana-2015'>
           	<img src='https://s3-sa-east-1.amazonaws.com/kleer-images/Kleer-casos-sura1.png' alt='Carlos Hurtado nos cuenta su experiencia de trabajo con Kleer en Sura' title='Carlos Hurtado nos cuenta su experiencia de trabajo con Kleer en Sura' align='left' height='160'/>
           	&nbsp;<img src='https://s3-sa-east-1.amazonaws.com/kleer-images/Kleer-casos-sura2.png' alt='Valentina Sierra cuenta el impacto que tuvo el equipo de tesorería de Sura al aplicar métodos y prácticas Ágiles' title='Valentina Sierra cuenta el impacto que tuvo el equipo de tesorería de Sura al aplicar métodos y prácticas Ágiles' height='160'/>
           	</a></p>
           	<br/>
           	
           	<p><a href='clientes/equipos-scrum-en-plataforma-10-2015'>Equipos Scrum en <b>Plataforma 10</b></a>
           	<br/><i>Buenos Aires, Argentina</i>. Testimonios de Gustavo Markier y Gastón Waisman.</p>
			<p>
           	<a href='clientes/equipos-scrum-en-plataforma-10-2015'>
           	<img src='https://s3-sa-east-1.amazonaws.com/kleer-images/Kleer-casos-p10-1.png' alt='Gustavo Markier nos cuenta acerca del impacto del trabajo de Kleer en el negocio de Plataforma 10' title='Gustavo Markier nos cuenta acerca del impacto del trabajo de Kleer en el negocio de Plataforma 10' align='left' height='150'/>
           	&nbsp;<img src='https://s3-sa-east-1.amazonaws.com/kleer-images/Kleer-casos-p10-2.png' alt='Gastón Waisman describe la implementación de Scrum en los equipos de Desarrollo de Plataforma 10' title='Gastón Waisman describe la implementación de Scrum en los equipos de Desarrollo de Plataforma 10' height='150'/>
           	</a></p>
           	<br/>
           	
           	<p><a href='clientes/equipos-scrum-en-technisys-2015'>Equipos Scrum en <b>Technisys</b></a>
           	<br/><i>Argentina y Uruguay</i>. Testimonios de Alejandro Raiczyk y Nico Paez.</p>
			<p>
           	<a href='clientes/equipos-scrum-en-technisys-2015'>
           	<img src='https://s3-sa-east-1.amazonaws.com/kleer-images/Kleer-casos-technisys1.png' alt='Alejandro Raiczyk describe el impacto del trabajo de Kleer en el área de Producto de Technisys' title='Alejandro Raiczyk describe el impacto del trabajo de Kleer en el área de Producto de Technisys' align='left' height='150'/>
           	&nbsp;<img src='https://s3-sa-east-1.amazonaws.com/kleer-images/Kleer-casos-technisys2.png' alt='Nicolás Paez describe lo que realizó en el proyecto de implementación de Technisys' title='Nicolás Paez describe lo que realizó en el proyecto de implementación de Technisys' height='150'/>
           	</a></p>
           	
			<hr/>
			
			<h3>Algunos de nuestros clientes</h3>
			
			<img src="http://www.kleer.la/img/clientes/logo-cocacola.png" alt="Coca Cola" />
			&nbsp;
			<img src="http://www.kleer.la/img/clientes/logo-disney.png" alt="Disney" />
			&nbsp;
			<img src="http://www.kleer.la/img/clientes/logo-loreal.gif" alt="L'Oréal" />
			&nbsp;
			<img src="http://www.kleer.la/img/clientes/logo-latam.jpg" alt="Latam" />
			<br/><br/>
		
			<img src="http://www.kleer.la/img/clientes/logo-sura.jpg" alt="Sura" />
			&nbsp;
			<img src="http://www.kleer.la/img/clientes/logo-epm.png" alt="epm" />
			&nbsp;
			<img src="http://www.kleer.la/img/clientes/logo-proteccion.jpg" alt="Protección" />
			&nbsp;
			<img src="http://www.kleer.la/img/clientes/logo-bancodeoccidente.png" alt="Banco de Occidente" />
			<br/><br/>
			
			<img src="http://www.kleer.la/img/clientes/logo-bbvacontinental.jpg" alt="BBVA Continental" />
			&nbsp;
			<img src="http://www.kleer.la/img/clientes/logo-bancodechile.png" alt="Banco de Chile" />
			&nbsp;
			<img src="http://www.kleer.la/img/clientes/logo-bci.jpg" alt="BCI" />
			&nbsp;
			<img src="http://www.kleer.la/img/clientes/logo-banchile.png" alt="Banchile" />
			<br/><br/>
			
			<img src="http://www.kleer.la/img/clientes/logo-interbank.jpg" alt="Interbank" />
			&nbsp;
			<img src="http://www.kleer.la/img/clientes/logo-bcp.png" alt="BCP" />
			&nbsp;
			<img src="http://www.kleer.la/img/clientes/logo-interbanking.png" alt="Interbanking" />
			&nbsp;
			<img src="http://www.kleer.la/img/clientes/logo-galicia.png" alt="Grupo Galicia" />
			<br/><br/>
			
			<img src="http://www.kleer.la/img/clientes/logo-osde.png" alt="OSDE" />
			&nbsp;
			<img src="http://www.kleer.la/img/clientes/logo-cablevision.png" alt="Cablevisión" />
			&nbsp;
			<img src="http://www.kleer.la/img/clientes/logo-fibertel.jpg" alt="Fibertel" />
			&nbsp;
			<img src="http://www.kleer.la/img/clientes/logo-ypf.jpg" alt="YPF" />
			<br/><br/>
		
			<img src="http://www.kleer.la/img/clientes/logo-oracle.png" alt="Oracle" />
			&nbsp;
			<img src="http://www.kleer.la/img/clientes/logo-artear.jpg" alt="Artear" />
			&nbsp;
			<img src="http://www.kleer.la/img/clientes/logo-telecom.jpg" alt="Telecom" />
			&nbsp;
			<img src="http://www.kleer.la/img/clientes/logo-farmacity.png" alt="Farmacity" />
			<br/><br/>
			
			<img src="http://www.kleer.la/img/clientes/logo-avenida.png" alt="Avenida.com" />
			&nbsp;
			<img src="http://www.kleer.la/img/clientes/logo-plataforma10.png" alt="Plataforma 10" />
			&nbsp;
			<img src="http://www.kleer.la/img/clientes/logo-intraway.png" alt="Intraway" />
			&nbsp;
			<img src="http://www.kleer.la/img/clientes/logo-exxonmobil.png" alt="Exxon Mobil" />
			<br/><br/>
			
			<img src="http://www.kleer.la/img/clientes/logo-technisys.png" alt="Technisys" />
			&nbsp;
			<img src="http://www.kleer.la/img/clientes/logo-globallogic.png" alt="GlobalLogic" />
			&nbsp;
			<img src="http://www.kleer.la/img/clientes/logo-neoris.png" alt="Neoris" />
			&nbsp;
			<img src="http://www.kleer.la/img/clientes/logo-asesuisa.jpg" alt="Asesuisa" />
			<br/><br/>

		</div>
		<div class="col-md-3 hidden-xs hidden-sm">
			<%= erb :_twitter_widget, :layout => false %>
		</div>
	</div>	
</div>
