<style>
	body {
		background: url(/img/bgfull-k-plan1.jpg) no-repeat center center fixed; 
	}
</style>

<div class="row">
	<div class="span8 hero-unit" style="background-color:rgba(255,255,255,0.7);padding:5px;">
		<h1>Publicaciones</h1>
		&nbsp;
		<div class="row">
			<div class="span3">
				<p align="center"><img src="/img/ebooks/intro-scrum.png" class="img-rounded"></p>

				<div class="well well-small">
					<p><small>Scrum es un enfoque ágil para el desarrollo de software. No es un proceso completo o una metodología, sino un marco de trabajo. Así, en lugar de proporcionar una descripción completa y detallada de cómo deben realizarse las tareas de un proyecto, deja mucho en manos del equipo de desarrollo...</small></p>
					<p><small>Puedes bajar este e-book con solo un tweet!</small></p>
					<iframe src="http://www.paywithatweet.com/dlbutton01.php?id=0434bf3575f3b7188fff2cb6d55ed389" name="paytweet_button" scrolling="no" frameborder="no" height = "24px" width = "145px"></iframe>
				</div>
			</div>
			<div class="span3 offset1">
				<p align="center"><img src="/img/ebooks/analysis.png" class="img-rounded"></p>

				<div class="well well-small">
					<p><small>Todas las metodologías ágiles coinciden en que un producto debe construirse de forma evolutiva en pequeñas entregas. De todas formas no es suficiente, como vimos anteriormente, dividir el producto en tres o cuatro entregas sucesivas, sino que debemos hacerlo de forma criteriosa para que cada entrega pueda aportar valor suficiente a los usuarios finales...</small></p>
					<p><small>Puedes bajar este e-book con solo un tweet!</small></p>
					<iframe src="http://www.paywithatweet.com/dlbutton01.php?id=ba7bee9e6b5ca5b3ba5a6a1c4f33034b" name="paytweet_button" scrolling="no" frameborder="no" height = "24px" width = "145px"></iframe>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="span3">
				<p align="center"><img src="/img/ebooks/retrospectivas.png" class="img-rounded"></p>

				<div class="well well-small">
					<p><small>Las retrospectivas son reuniones en los que los equipos identifican áreas de mejora e idean acciones para mejorar. Pueden usarse al final de cada iteración (sprint), luego de cada nueva versión o en cualquier momento que se detecte una necesidad de mejora. Este documento tiene un resumen de técnicas que pueden utilizarse.</small></p>
					<p><small>Puedes bajar este e-book con solo un tweet!</small></p>
					<iframe src="http://www.paywithatweet.com/dlbutton01.php?id=d999f0797cb600c38e17891503cb3b05" name="paytweet_button" scrolling="no" frameborder="no" height = "24px" width = "145px"></iframe>
				</div>
			</div>
		</div>
	</div>	
	<div class="span3">  
		<img src="/img/k-seal-verde.png">
	</div>
</div>
