<style>
	body {
		background: url(/img/fondos/fondo-08.jpg) no-repeat center center fixed; 
	}
</style>
<script type="text/javascript" src="/js/jquery.js"/></script>

<div class="row-fluid">
	<div class="span9" style="background-color:rgba(255,255,255,1);padding:5px;-moz-border-radius: 5px; border-radius: 5px;">
		<div class="row-fluid">
			<div class="span3">
				<a href="/publicamos/scrum"><p align="center"><img src="/img/ebooks/scrum.jpg" class="img-rounded"></p></a>
			</div>
			<div class="span9">
				<h1>Proyectos Ágiles con Scrum</h1>
				<h2><i>Flexibilidad, aprendizaje, innovación y colaboración en contextos complejos</i></h2>
				<div class="well well-small">
					<p>Scrum es un marco de trabajo que nos permite encontrar prácticas emergentes en dominios complejos, como la gestión de proyectos de innovación. No es un proceso completo, y mucho menos, una metodología. En lugar de proporcionar una descripción completa y detallada de cómo deben realizarse las tareas de un proyecto, genera un contexto relacional e iterativo, de inspección y adaptación constante para que los involucrados vayan creando su propio proceso.</p>
				</div>
			</div>
		</div>
		&nbsp;
		<div class="row-fluid">
			<div class="span3 offset1" style="text-align:center;">
				Paperback<br/>
					<a href="http://www.amazon.com/Proyectos-%C3%81giles-con-Scrum-Flexibilidad/dp/9874515805" target="_blank"><img class="img-square" src="/img/ebooks/amazon.png"></a>
			</div>
			<div class="span3" style="text-align:center;">
				Amazon Kindle<br/>
					<a href="http://www.amazon.com/Proyectos-%C3%81giles-Scrum-Flexibilidad-colaboraci%C3%B3n-ebook/dp/B00G5YXWQE" target="_blank"><img class="img-square" src="/img/ebooks/amazonkindle.png"></a>
			</div>
			<div class="span3" style="text-align:center;">
				PDF gratuito<br/>
					<iframe src="http://www.paywithatweet.com/dlbutton01.php?id=e510b43895c646a3b27b8e0628777ff7" name="paytweet_button" scrolling="no" frameborder="no" height = "24px" width = "145px"></iframe>
			</div>
		</div>
		&nbsp;
		<div class="row-fluid">
			<div class="span12">
				<div class="well well-small">
					<p>Mediante este libro conocerás:</p> 
								<ul>
									<li>Los factores que dieron origen a las metodologías ágiles</li>
									<li>Los valores y principios del Manifiesto Ágil</li>
									<li>Los contextos de complejidad donde Scrum es más eficiente</li>
									<li>Los principios y valores de Scrum</li>
									<li>Roles del Equipo Scrum</li>
									<li>Responsabilidades y expectativas de cada rol</li>
									<li>Elementos y actividades del flujo de trabajo de Scrum</li>
									<li>Técnicas de análisis ágil y desarrollo evolutivo</li>
									<li>Técnicas de comunicación de necesidades (Historias de Usuario)</li>
									<li>Estimaciones ágiles</li>
									<li>Planificación del mediano y largo plazo</li> 
									<li>Presupuestación de proyectos ágiles</li>
								</ul>
								&nbsp;
				</div>
			</div>
		</div>	
		&nbsp;
		<div class="row-fluid">
			<div class="span3 offset1" style="text-align:center;">
				Paperback<br/>
					<a href="http://www.amazon.com/Proyectos-%C3%81giles-con-Scrum-Flexibilidad/dp/9874515805" target="_blank"><img class="img-square" src="/img/ebooks/amazon.png"></a>
			</div>
			<div class="span3" style="text-align:center;">
				Amazon Kindle<br/>
					<a href="http://www.amazon.com/Proyectos-%C3%81giles-Scrum-Flexibilidad-colaboraci%C3%B3n-ebook/dp/B00G5YXWQE" target="_blank"><img class="img-square" src="/img/ebooks/amazonkindle.png"></a>
			</div>
			<div class="span3" style="text-align:center;">
				PDF gratuito<br/>
					<iframe src="http://www.paywithatweet.com/dlbutton01.php?id=e510b43895c646a3b27b8e0628777ff7" name="paytweet_button" scrolling="no" frameborder="no" height = "24px" width = "145px"></iframe>
			</div>
		</div>
		&nbsp;
		<div class="row-fluid">
			<div class="span12" style="text-align:center;">
				<div class="well well-small">
					<h3>Mirá el video de 2 minutos que describe Scrum</h3> 
					<iframe width="640" height="480" src="//www.youtube.com/embed/IWUG29VPhUA" frameborder="0" allowfullscreen></iframe>
					<p>Baja el PDF con el poster desde <a href="http://media.kleer.la/posters/scrum.pdf">aquí</a></p>
				</div>
			</div>
		</div>
		&nbsp;
		<div class="row-fluid">
			<div class="span3 offset1" style="text-align:center;">
				Paperback<br/>
					<a href="http://www.amazon.com/Proyectos-%C3%81giles-con-Scrum-Flexibilidad/dp/9874515805" target="_blank"><img class="img-square" src="/img/ebooks/amazon.png"></a>
			</div>
			<div class="span3" style="text-align:center;">
				Amazon Kindle<br/>
					<a href="http://www.amazon.com/Proyectos-%C3%81giles-Scrum-Flexibilidad-colaboraci%C3%B3n-ebook/dp/B00G5YXWQE" target="_blank"><img class="img-square" src="/img/ebooks/amazonkindle.png"></a>
			</div>
			<div class="span3" style="text-align:center;">
				PDF gratuito<br/>
					<iframe src="http://www.paywithatweet.com/dlbutton01.php?id=e510b43895c646a3b27b8e0628777ff7" name="paytweet_button" scrolling="no" frameborder="no" height = "24px" width = "145px"></iframe>
			</div>
		</div>
		&nbsp;
		<hr/>
	</div>	
	<div class="span3" style="text-align:center;">  
		<img src="/img/logos/logo-05.png">
		<%= erb :twitter_box, :layout => false %>
	</div>
</div>
