
<script type="text/javascript" src="/js/jquery.js"/></script>

<div class="row-fluid">
	<div class="span9" style="background-color:rgba(255,255,255,0.9);padding:5px;-moz-border-radius: 5px; border-radius: 5px;">
		<h1>Publicaciones</h1>
		<h3>Nivel Introductorio</h3>
		&nbsp;
		<div class="row-fluid">
			<div class="span4">
				<p align="center"><img src="/img/ebooks/intro-scrum.png" class="img-rounded"></p>

				<div class="well well-small">
					<h4>Introducción a la Agilidad y Scrum</h4>
					<p>Scrum es un enfoque ágil para el desarrollo de software. No es un proceso completo o una metodología, sino un marco de trabajo. Así, en lugar de proporcionar una descripción completa y detallada de cómo deben realizarse las tareas de un proyecto, deja mucho en manos del equipo de desarrollo...</p>
					<p>Puedes bajar este e-book con solo un tweet!</p>
					<iframe src="http://www.paywithatweet.com/dlbutton01.php?id=0434bf3575f3b7188fff2cb6d55ed389" name="paytweet_button" scrolling="no" frameborder="no" height = "24px" width = "145px"></iframe>
				</div>
			</div>
			<div class="span4">
				<p align="center"><img src="/img/ebooks/analysis.png" class="img-rounded"></p>

				<div class="well well-small">
					<h4>Análisis, Estimación y Planificación Ágil</h4>
					<p>Todas las metodologías ágiles coinciden en que un producto debe construirse de forma evolutiva en pequeñas entregas. De todas formas no es suficiente, como vimos anteriormente, dividir el producto en tres o cuatro entregas sucesivas, sino que debemos hacerlo de forma criteriosa para que cada entrega pueda aportar valor suficiente a los usuarios finales...</p>
					<p>Puedes bajar este e-book con solo un tweet!</p>
					<iframe src="http://www.paywithatweet.com/dlbutton01.php?id=ba7bee9e6b5ca5b3ba5a6a1c4f33034b" name="paytweet_button" scrolling="no" frameborder="no" height = "24px" width = "145px"></iframe>
				</div>
			</div>
			<div class="span4">
				<p align="center"><img src="/img/ebooks/retrospectivas.png" class="img-rounded"></p>

				<div class="well well-small">
					<h4>Técnicas para la realización de retrospectivas</h4>
					<p>Las retrospectivas son reuniones en los que los equipos identifican áreas de mejora e idean acciones para mejorar. Pueden usarse al final de cada iteración (sprint), luego de cada nueva versión o en cualquier momento que se detecte una necesidad de mejora. Este documento tiene un resumen de técnicas que pueden utilizarse.</p>
					<p>Puedes bajar este e-book con solo un tweet!</p>
					<iframe src="http://www.paywithatweet.com/dlbutton01.php?id=d999f0797cb600c38e17891503cb3b05" name="paytweet_button" scrolling="no" frameborder="no" height = "24px" width = "145px"></iframe>
				</div>
			</div>
		</div>
		
		<h3>Nivel Intermedio</h3>
		&nbsp;
		<div class="row-fluid">
			<div class="span4">
				<a id="MasProductivos"></a>
				<p align="center"><img src="/img/ebooks/mas-productivos.jpg" class="img-rounded"></p>

				<div class="well well-small">
					<h4>Más Productivos</h4>
					<p>Personas e interacciones por sobre procesos y herramientas. Ver a Scrum como un simple proceso de trabajo lmita extremádamente las posibilidades que tenemos de alcanzar un alto desempeño. Scrum se trata sobre relaciones humanas en la complejidad. En este libro analizamos esas relaciones humanas de la mano del Coachig. Veremos cómo se somplementa Scrum y Coaching para ...</p>
					<p>Puedes bajar este e-book con solo un tweet!</p>
					<iframe src="http://www.paywithatweet.com/dlbutton01.php?id=2ccb0d9176df8747d9c0a87511e90c00" name="paytweet_button" scrolling="no" frameborder="no" height = "24px" width = "145px"></iframe>
				</div>
			</div>
		</div>
		
	</div>	
	<div class="span3" style="text-align:center;">  
		<img src="/img/logos/logo-agiles2013.png">
		<%= erb :twitter_box, :layout => false %>
	</div>
</div>
