<style>
	body {
		background: url(/img/fondos/fondo-04.jpg) no-repeat center center fixed; 
	}
</style>

<div class="row">
	<div class="span4">  
		<img src="/img/k-seal-azul.png">
	</div>
	<div class="span7" style="background-color:rgba(255,255,255,0.9);padding:5px;-moz-border-radius: 5px; border-radius: 5px;">
		<h1>Todos los cursos</h1>
		<table cellpadding="0" cellspacing="0" border="0" class="table table-condensed" id="cursos"><thead></thead><tbody></tbody></table>
		<script type="text/javascript" src="/js/jquery.js"/></script>
		<script type="text/javascript" src="/js/jquery.dataTables.js"></script>
		<script type="text/javascript" src="/js/dt_cursos_entrenamos.js"></script>
		
		<script type="text/javascript">
		<!--
		var aCursos = <%=@dt_events_array%>;
		-->
		</script>
	</div>  

</div>
