<style>
	body {
		background: url(/img/fondos/fondo-04.jpg) no-repeat center center fixed; 
	}
</style>

<div class="span5 offset3" style="background-color:rgba(255,255,255,0.9);padding:5px;-moz-border-radius: 5px; border-radius: 5px;" align="center">
	&nbsp;<br/>
	&nbsp;<br/>
	<a class="btn btn-large btn-primary" href="/entrenamos">Ver Calendario de Cursos >></a><br/>
	&nbsp;<br/>
	&nbsp;
</div>  