
<div class="span5" style="background-color:rgba(255,255,255,0.9);padding:5px;-moz-border-radius: 5px; border-radius: 5px;" align="center">
	<div class="alert alert-error"><%= @error %></div>
	&nbsp;<br/>
	&nbsp;<br/>
	<a class="btn btn-large btn-primary" href="/entrenamos">Ver Calendario de Cursos >></a><br/>
	&nbsp;<br/>
	&nbsp;
</div>  