<div class="container-fluid fondo-celeste">
	<div class="container">
		<div class="container-fluid col-md-10 col-md-offset-1">
			<div class="col-md-4 hidden-xs">
				<img src="/img/personajes/01_03_web.png" class="img-responsive"/>
			</div>
			<div class="col-md-8 no-hpadding">
				<br/>&nbsp;
				<br/>&nbsp;
				<br/>&nbsp;
				<br/>&nbsp;
				<h1>Error 404</h1>
				<h2>Página no encontrada.</h2>
				<a class="btn btn-large btn-success btn-kleer" href="/comunidad">Ver Calendario de Eventos Comunitarios >></a><br/>
				<br/>&nbsp;
				<br/>&nbsp;
				<br/>&nbsp;
			</div>
		</div>
	</div>
</div>