<div class="container-fluid fondo-celeste">
	<div class="container">
		<div class="container-fluid col-md-10 col-md-offset-1">
			<div class="col-md-4">
				<img src="/img/personajes/01_03_web.png" class="img-responsive"/>
			</div>
			<div class="col-md-8 no-hpadding">
				<br/>&nbsp;
				<br/>&nbsp;
				<br/>&nbsp;
				<br/>&nbsp;
				<div class="alert alert-error"><%= @error %></div>
				&nbsp;<br/>
				&nbsp;<br/>
				<a class="btn btn-large btn-primary" href="/entrenamos">Ver Calendario de Cursos >></a><br/>
				&nbsp;<br/>
			</div>
		</div>
	</div>
</div>