<div class="container facebook">
		<div class="<%= span %>" style="background-color:rgba(255,255,255,1);padding:5px;-webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);-moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);box-shadow: 0 2px 10px rgba(0,0,0,.25);-moz-border-radius:3px; border-radius:3px;font-size:150%;">
			<iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fkleer.la&amp;width=<%=width%>&amp;height=<%=height%>&amp;show_faces=true&amp;colorscheme=light&amp;stream=true&amp;show_border=false&amp;header=false&amp;appId=198712530188528" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100%; height:<%=height%>px;" allowTransparency="true"></iframe>
			</div>
</div> <!-- /container -->