<div class="container-fluid fondo-amarillo slide-header-generico">
	<div class="container">
		<div class="container-fluid container-header-generico">
			<div class="col-md-7">
				<h1>Preguntas Frecuentes</h1>
			</div>
			<div class="col-md-5 hidden-xs hidden-sm">
				&nbsp;<br/>
				<img src="/img/personajes/your-way-kleerer.png" height="400">
			</div>
		</div>
	</div>
</div>

<div class="container-fluid fondo-rosa slide-contenedor-generico">
	<div class="container fondo-blanco contenedor-generico">
		<div class="col-md-9 no-hpadding contenedor-main-izq">
			<h2>Facturación y Pagos en Perú</h2>
			
			<h3>Pago como Persona Natural</h3>
			<p>Realiza el pago por el medio que prefieras:</p>

			<ul>
				<li>Transferencias Soles
					<ul>
						<li>Banco: <strong>Banco de Crédito del Perú</strong></li>
						<li>Cuenta: <strong>194-2105282-0-74</strong></li>
						<li>Código Interbancario: <strong>00219400210528207499</strong></li>
						<li>Titular: <strong>SOMOS AGILES SAC</strong></li>
						<li>RUC: <strong>20554377778</strong></li>
					</ul>
				</li>
			</ul>

			<ul>
				<li>Transferencias Dólares
					<ul>
						<li>Banco: <strong>Banco de Crédito del Perú</strong></li>
						<li>Cuenta: <strong>1942102142-1-67</strong></li>
						<li>Código Interbancario: <strong>00219400210214216798</strong></li>
						<li>Titular: <strong>SOMOS AGILES SAC</strong></li>
						<li>RUC: <strong>20554377778</strong></li>
					</ul>
				</li>
			</ul>

			<ul>
				<li>Tarjeta de Crédito
					<ul>
						<li><a href="mailto:entrenamos.pe@kleer.la">Escríbenos</a> indicando el curso, ciudad, y el número de personas que desean asistir.</li>
						<li>Te generaremos el link de pago correspondiente, el cual será enviado a tu mail (1 día).</li>
						<li>Envíanos el comprobante de pago junto al RUC, dirección y razón social.</li>
						<li>Espera la confirmación (1 día).</li>
					</ul>
				</li>
			</ul>

			<h3>Pago como Persona Jurídica</h3>
			<p>Nos adaptamos al proceso de compras de tu empresa. Si es necesario registrarnos como proveedores, indícanos el procedimiento y la persona de contacto.</p>
			<p>Nuestro procedimiento usual es:</p>

			<ul>
				<li>Envíanos una orden de compra junto al RUC, dirección y Razón Social.</li>
				<li>Espera a recibir tu factura (2 días).</li>
				<li>Realiza el pago por transferencia electrónica.
					<ul>
						<li>Transferencias Soles
							<ul>
								<li>Banco: <strong>Banco de Crédito del Perú</strong></li>
								<li>Cuenta: <strong>194-2105282-0-74</strong></li>
								<li>Código Interbancario: <strong>00219400210528207499</strong></li>
								<li>Titular: <strong>SOMOS AGILES SAC</strong></li>
								<li>RUC: <strong>20554377778</strong></li>
							</ul>
						</li>
					<ul>
					<ul>
						<li>Transferencias Dólares
							<ul>
								<li>Banco: <strong>Banco de Crédito del Perú</strong></li>
								<li>Cuenta: <strong>1942102142-1-67</strong></li>
								<li>Código Interbancario: <strong>00219400210214216798</strong></li>
								<li>Titular: <strong>SOMOS AGILES SAC</strong></li>
								<li>RUC: <strong>20554377778</strong></li>
							</ul>
						</li>
					</ul>
				</li>
				<li>Envíanos el comprobante de pago por este medio.</li>
				<li>Espera la confirmación (1 día).</li>
			</ul>

			<h2>Política de Cancelaciones</h2>
			<ul>
				<li>Si un alumno desiste al curso antes de 10 días hábiles del inicio del curso, se le devuelve el 100% del monto cobrado, menos el costo de la transacción (10% del total).</li>

				<li>Si un alumno desiste al curso dentro de los 10 días hábiles anteriores al inicio del curso, Kleer se queda con el 100% del monto, y el alumno puede utilizar el cupo en otra oportunidad en la que se dicte el curso en cuestión.	</li>

				<li>Si Kleer cancelara un curso, se reembolsará el 100% del monto cobrado. Los gastos de la transacción, de corresponder, en este caso corren por parte de Kleer.</li>
			</ul>
		</div>

		<div class="col-md-3">
			<%= erb :_twitter_widget, :layout => false %>
		</div>
	</div>	
</div>
