<script type="text/javascript" src="/js/jquery.js"/></script>
<style>
	body {
		background: url(/img/fondos/fondo-06.jpg) no-repeat center center fixed; 
	}
</style>
<div class="row">
	<div class="span8" style="background-color:rgba(255,255,255,0.9);padding:5px;-moz-border-radius: 5px; border-radius: 5px;">

<h2>Inscripciones de cursos abiertos en Colombia</h2>
<h3>Organizados por Agile Spin S.A.S</h3>

<b>Importante:</b> Lee el siguiente acuerdo entre las partes antes de efectuar cualquier pago.

<h3>1. Acuerdo entre las partes</h3>
Al hacer el pago, la persona, natural o jurídica, acepta las siguientes condiciones:
<ul>
	<li>El proveedor educativo del curso será la empresa Kleer SRL. La empresa que organiza y recauda es Agile Spin SAS </li>
	<li>Todo curso está sujeto a cancelación, tanto del proveedor, como del participante. La política de cancelaciones será la siguiente:
	<ul><li>Retiro del curso por parte del asistente
		<ul><li>Si el retiro se produce hasta 11 días hábiles antes de la fecha de inicio, se reintegrará el 90% del dinero. El 10% deducido corresponde a gastos bancarios.</li>
		<li>Si el retiro se produce 10 días hábiles antes del evento, se garantizará el cupo para la próxima fecha programada, con el mismo valor cancelado y no habrá devolución de dinero.</li>
	</ul>
	<p><b>Nota.</b> Es posible transferir el cupo a otra persona interesada en tomar el entrenamiento.</p>
	</li>
	<li>Cancelación del curso por parte del proveedor
		<p>Usualmente, los cursos se cancelan solo por razones de fuerza mayor o por no alcanzar el numero mínimo de asistentes requeridos. En ambos casos, se reintegrará el 100% del valor pagado.</p>
	</li>
</ul>
</ul>

<h3>2. Pago como Persona Natural</h3>
<p>Realiza el pago por el medio que prefieras:</p>
<ul>
	<li> Consignaciones y transferencias <br>
Banco: <strong>Bancolombia</strong><br>
Cuenta: <strong>Ahorros No. 688-859135-67.</strong><br>
Titular: <strong>Agile Spin S.A.S.</strong><br>
NIT: <strong>900.538.989-3</strong>
</li>
<li>Tarjeta de crédito
	<ol>
	<li>Escríbenos a <mailto: entrenamos.colombia@kleer.la> indicando el curso, ciudad, y el número de personas que desean asistir.</li>
	<li>Te generaremos el link de pago correspondiente, el cual será enviado a tu mail (1 día). </li>
	<li>Envíanos el comprobante de pago</li>
	<li>Espera la confirmación (1 día)</li>
	<li>Espera a recibir tu factura (2 días)</li>
	</ol>
</li>
</ul>
<h3>3. Pago como Persona Jurídica</h3>
<p>Nos adaptamos al proceso de compras de tu empresa. Si es necesario registrarnos como proveedores, indícanos el procedimiento y la persona de contacto.</p>
<p>Nuestro procedimiento usual es:</p>
<ul><li>Envíanos una copia del RUT actualizado de la empresa.</li>
<li>Realiza el pago por consignación en efectivo o transferencia electrónica.</li>
<li>Envíanos el comprobante de pago por este medio.</li>
<li>Espera la confirmación (1 día).</li>
<li>Espera a recibir tu factura (2 días).</li>
</ul>
<b>Importante.</b> No aceptamos cheques. Solo recibimos consignaciones o transferencias.
<h3>¿Inquietudes?</h3>
<a href="mailto:&#101;&#110;&#116;&#114;&#101;&#110;&#097;&#109;&#111;&#115;&#046;&#099;&#111;&#108;&#111;&#109;&#098;&#105;&#097;&#064;&#107;&#108;&#101;&#101;&#114;&#046;&#108;&#097;">Escríbenos</a> y con todo gusto te daremos respuesta en un (1) día hábil.

	</div>
	<div class="span3" style="text-align:center;">  
		<img src="/img/logos/logo-04.png">
		<%= erb :twitter_box, :layout => false %>
	</div>
</div>
