<div class="container-fluid fondo-celeste-mosaico">
	<div class="container">
		<div class="container-fluid">
			<div class="col-md-8" style="overflow:hidden;max-height:400px;text-align:right;">
				<img src="/img/personajes/03_01_web.png" height="800">
			</div>
			<div class="col-md-3 hidden-xs hidden-sm" style="overflow:hidden;max-height:400px;">
				<img src="/img/personajes/02_03_web.png" height="500">
			</div>
			<div class="col-md-1 hidden-xs hidden-sm">
				<img src="/img/personajes/01_03_web.png" height="200">
			</div>
		</div>
	</div>
</div>

<div class="container-fluid fondo-amarillo">
	<div class="container-fluid" style="overflow:hidden;position:relative;top:-30px;left:-30px;">
		<img src="/img/diagonales/top-amarilla.png" width="3000">
	</div>
	<div class="container-fluid">
		<div class="container">
			bbbb<br/>
			dsdsd<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
		</div>
	</div>
</div>

<div class="container-fluid fondo-blanco">
	<div class="container">
		bbbb<br/>
		dsdsd<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
	</div>
</div>

<div class="container-fluid fondo-verde">
	<div class="container">
		bbbb<br/>
		dsdsd<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
	</div>
</div>

<div class="container-fluid fondo-rosa-mosaico">
	<div class="container">
		bbbb<br/>
		dsdsd<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
	</div>
</div>

<div class="container-fluid fondo-celeste">
	<div class="container">
		bbbb<br/>
		dsdsd<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
	</div>
</div>

<div class="container-fluid fondo-rosa">
	<div class="container">
		bbbb<br/>
		dsdsd<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
	</div>
</div>
