<section id="index-creemos" data-speed="3" data-type="background">
	<div class="container-fluid" style="overflow:hidden;max-height:300px;">
		<div class="container">
			<div class="container-fluid">
				<div class="col-md-8 creemos">
					<img src="/img/personajes/karl-creemos.png" height="250" class="img-responsive">
				</div>
				<div class="col-md-3 hidden-xs hidden-sm">
					<img src="/img/personajes/02_03_web.png" height="400">
				</div>
				<div class="col-md-1 hidden-xs hidden-sm">
					<img src="/img/personajes/01_03_web.png" height="200">
				</div>
			</div>
		</div>
	</div>
</section>

<div class="container-fluid fondo-amarillo-top">&nbsp;<br/>&nbsp;</div>

<div class="container-fluid fondo-amarillo">
	<div class="container-fluid">
		<div class="container">
			bbbb<br/>
			dsdsd<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
		</div>
	</div>
</div>

<div class="container-fluid fondo-blanco">
	<div class="container">
		bbbb<br/>
		dsdsd<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
	</div>
</div>

<div class="container-fluid fondo-verde">
	<div class="container">
		bbbb<br/>
		dsdsd<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
	</div>
</div>

<div class="container-fluid fondo-rosa-mosaico">
	<div class="container">
		bbbb<br/>
		dsdsd<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
	</div>
</div>

<div class="container-fluid fondo-celeste">
	<div class="container">
		bbbb<br/>
		dsdsd<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
	</div>
</div>

<div class="container-fluid fondo-rosa">
	<div class="container">
		bbbb<br/>
		dsdsd<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
	</div>
</div>
