<style>
  body {
    background: url(/img/bgfull-k-retro.jpg) no-repeat center center fixed; 
	}
</style>

<div class="row">
	<div class="span4">  
		<img src="/img/k-seal-azul.png">
	</div>
	<div class="span7" style="background-color:rgba(255,255,255,0.7);padding:5px;-moz-border-radius: 5px; border-radius: 5px;">
		<h1>Próximos cursos</h1>
		<table cellpadding="0" cellspacing="0" border="0" class="table table-condensed" id="cursos"><thead></thead><tbody></tbody></table>
		<script type="text/javascript" src="/js/complete.min.js"/></script>
		<script type="text/javascript" src="/js/jquery.dataTables.js"></script>
		<script type="text/javascript" src="/js/dt_cursos.js"></script>
		
		<script type="text/javascript">
		<!--
		var aCursos = [['04-Dec',' <a href="http://www.kleer.la/entrenamos/evento/14">Análisis, Estimación y Planificación con Scrum (Día 2 - CSD Track)</a><br/><img src="/img/flags/ar.png"/> Buenos Aires','<a href="javascript:void();" target="_blank"  class="btn btn-danger">Completo</a>'],['05-Dec',' <a href="http://www.kleer.la/entrenamos/evento/15">Desarrollo Ágil de Software (Día 3 - CSD Track)</a><br/><img src="/img/flags/ar.png"/> Buenos Aires','<a href="javascript:void();" class="btn btn-danger" target="_blank">Completo</a>'],['17-Dec',' <a href="http://www.kleer.la/entrenamos/evento/36">Certified ScrumMaster (CSM)</a><br/><img src="/img/flags/ar.png"/> Buenos Aires','<a href="javascript:void();" class="btn btn-danger" target="_blank">Completo</a>'],['09-Jan',' <a href="http://www.kleer.la/entrenamos/evento/44">Workshop de Retrospectivas</a><br/><img src="/img/flags/ar.png"/> Buenos Aires','<a href="https://eventioz.com.ar/retrospectivas-9-ene-2012/registrations/new" target="_blank" class="btn btn-success">Registrarme!</a>'],['09-Jan',' <a href="http://www.kleer.la/entrenamos/evento/44">Workshop de Retrospectivas</a><br/><img src="/img/flags/ar.png"/> Buenos Aires','<a href="https://eventioz.com.ar/retrospectivas-9-ene-2012/registrations/new" target="_blank" class="btn btn-success">Registrarme!</a>'],['09-Jan',' <a href="http://www.kleer.la/entrenamos/evento/44">Workshop de Retrospectivas</a><br/><img src="/img/flags/ar.png"/> Buenos Aires','<a href="https://eventioz.com.ar/retrospectivas-9-ene-2012/registrations/new" target="_blank" class="btn btn-success">Registrarme!</a>'],['09-Jan',' <a href="http://www.kleer.la/entrenamos/evento/44">Workshop de Retrospectivas</a><br/><img src="/img/flags/ar.png"/> Buenos Aires','<a href="https://eventioz.com.ar/retrospectivas-9-ene-2012/registrations/new" target="_blank" class="btn btn-success">Registrarme!</a>'],];
		-->
		</script>
	</div>  
	
	<div class="row"><div class="span1">&nbsp;</div></div>
	
	<div class="row">
		<!-- div class="span3" style="background-color:rgba(255,255,255,0.7);-moz-border-radius: 5px; border-radius: 5px;padding:5px;">
			<p>Primera empresa latinoamericana en ser reconocida como Registered Education Provider de la Scrum Alliance.</p>
			<p align="center"><img src="/img/sa-rep-seal.png"></p>
		</div -->
		
		<div class="span10 offset1" style="background-color:rgba(255,255,255,0.7);padding:5px;-moz-border-radius: 5px; border-radius: 5px;">
			<h1>Contacto</h1>
			<ul class="thumbnails">
			  <li class="span2">
			    <div class="thumbnail">
			      <img src="/img/contact/baires.jpg" alt="">
			      <h4>Argentina</h4>
			      <p>Tucumán 373 1er Piso<br/>1049 CABA<br/>+5411.5236.0314</p>
			    </div>
			  </li>
			<li class="span2">
			    <div class="thumbnail">
			      <img src="/img/contact/brasil.jpg" alt="">
			      <h4>Brasil</h4>
			      <p>Alameda Jaú, 310 113-A<br/>São Paulo<br/>+5511.3284.5878</p>
			    </div>
			  </li>
			<li class="span2">
			    <div class="thumbnail">
			      <img src="/img/contact/bolivia.jpg" alt="">
			      <h4>Bolivia</h4>
			      <p>1ro de Mayo No. 542</br>Qllo., Cochabamba<br/>+591.4.4321690</p>
			    </div>
			  </li>
			<li class="span2">
			    <div class="thumbnail">
			      <img src="/img/contact/colombia.jpg" alt="">
			      <h4>Colombia</h4>
			      <p>Calle 77 #16-38 of 302<br/>Bogotá</br>+571.6255143</p>
			    </div>
			  </li>
			<li class="span2">
			    <div class="thumbnail">
			      <img src="/img/contact/peru.jpg" alt="">
			      <h4>Perú</h4>
			      <p>Av. Ps. de la Rep. 3147<br/>Of. 703, Lima<br/>+511.422.1039</p>
			    </div>
			  </li>
			</ul>
		</div>
			</div>
	
</div>