<style>
  body {
    background: url(/img/bgfull-k-retro.jpg) no-repeat center center fixed; 
	}
</style>
<div class="row">
	<div class="span4">  
		<img src="/img/k-seal-azul.png">
	</div>
	<div class="span7 offset1" style="background-color:rgba(255,255,255,0.7)">
		<h1>Próximos cursos</h1>
		<table cellpadding="0" cellspacing="0" border="0" class="table table-condensed" id="cursos"><thead></thead><tbody></tbody></table>
		<script type="text/javascript" src="/js/complete.min.js"/></script>
		<script type="text/javascript" src="/js/jquery.dataTables.js"></script>
		<script type="text/javascript" src="/js/dt_cursos.js"></script>
		
		<script type="text/javascript">
		<!--
		var aCursos = [['04-Dec',' <a href="http://www.kleer.la/entrenamos/evento/14">Análisis, Estimación y Planificación con Scrum (Día 2 - CSD Track)</a><br/><img src="/img/flags/ar.png"/> Buenos Aires','<a href="javascript:void();" target="_blank"  class="btn btn-danger">Completo</a>'],['05-Dec',' <a href="http://www.kleer.la/entrenamos/evento/15">Desarrollo Ágil de Software (Día 3 - CSD Track)</a><br/><img src="/img/flags/ar.png"/> Buenos Aires','<a href="javascript:void();" class="btn btn-danger" target="_blank">Completo</a>'],['17-Dec',' <a href="http://www.kleer.la/entrenamos/evento/36">Certified ScrumMaster (CSM)</a><br/><img src="/img/flags/ar.png"/> Buenos Aires','<a href="javascript:void();" class="btn btn-danger" target="_blank">Completo</a>'],['09-Jan',' <a href="http://www.kleer.la/entrenamos/evento/44">Workshop de Retrospectivas</a><br/><img src="/img/flags/ar.png"/> Buenos Aires','<a href="https://eventioz.com.ar/retrospectivas-9-ene-2012/registrations/new" target="_blank" class="btn btn-success">Registrarme!</a>'],['09-Jan',' <a href="http://www.kleer.la/entrenamos/evento/44">Workshop de Retrospectivas</a><br/><img src="/img/flags/ar.png"/> Buenos Aires','<a href="https://eventioz.com.ar/retrospectivas-9-ene-2012/registrations/new" target="_blank" class="btn btn-success">Registrarme!</a>'],['09-Jan',' <a href="http://www.kleer.la/entrenamos/evento/44">Workshop de Retrospectivas</a><br/><img src="/img/flags/ar.png"/> Buenos Aires','<a href="https://eventioz.com.ar/retrospectivas-9-ene-2012/registrations/new" target="_blank" class="btn btn-success">Registrarme!</a>'],['09-Jan',' <a href="http://www.kleer.la/entrenamos/evento/44">Workshop de Retrospectivas</a><br/><img src="/img/flags/ar.png"/> Buenos Aires','<a href="https://eventioz.com.ar/retrospectivas-9-ene-2012/registrations/new" target="_blank" class="btn btn-success">Registrarme!</a>'],];
		-->
		</script>
	</div>  
</div>