
<div class="container-fluid fondo-verde slide-header-generico">
	<div class="container">
		<div class="container-fluid container-header-generico">
			<div class="col-md-7">
				<h2>Equipos Scrum en Technisys</h2>
				<img src="/img/prensa/casos/technisys-logo.png">
			</div>
			<div class="col-md-5 hidden-xs hidden-sm">
				&nbsp;<br/>
				<img src="/img/personajes/your-way-kleerer.png" height="400">
			</div>
		</div>
	</div>
</div>

<div class="container-fluid fondo-celeste slide-contenedor-generico">
	<div class="container fondo-blanco contenedor-generico">
		<div class="col-md-9 no-hpadding contenedor-main-izq">
			<h2>Como transformamos los equipos de desarrollo de producto</h2>

			<h3>Necesidad</h3>
			<p>Alejandro Raiczyk, a cargo del área de producto CyberBank de Tehcnisys, nos cuenta como, cuando llegó al área, vió la oportunidad de mejorar en los marcos de trabajo, orientándose a las metodologías ágiles.</p>

			<h3>Búsqueda de solución</h3>
			<p>No disponiendo del know-how dentro de la empresa y no teniendo el tiempo para un proceso extenso de capacitación, optaron por incorporar servicios de mentoring y coaching de Kleer.</p>

			<h3>Resultado</h3>
			<p>En poco tiempo los equipos comenzaron a trabajar en forma más organizada, con más comunicación interna y entre los diferentes grupos. En este aspecto, las reuniónes de planificación aportaron visibilidad de los objetivos, lo mismo que las reuniónes de revisión (en iteraciones de tres semanas).</p>
			<p>Finalmente destaca la importancia de las reuniones de retrospectiva en el proceso de mejora continua liderado por los propios equipos.</p>

      <div class="video-container">
        <iframe width="320" height="240" src="https://www.youtube.com/embed/2oobhTSNQDg" frameborder="0" allowfullscreen></iframe>
      </div>

		</div>
		<div class="col-md-3 hidden-xs hidden-sm">
			<%= erb :_twitter_widget, :layout => false %>
		</div>
	</div>	
</div>
