
<div class="container-fluid fondo-verde slide-header-generico">
	<div class="container">
		<div class="container-fluid container-header-generico">
			<div class="col-md-7">
				<h2>Innovación en Marketing Digital en L'Oréal</h2>
				<img src="/img/prensa/casos/logo-suramericana.jpg">
			</div>
			<div class="col-md-5 hidden-xs hidden-sm">
				&nbsp;<br/>
				<img src="/img/personajes/your-way-kleerer.png" height="400">
			</div>
		</div>
	</div>
</div>

<div class="container-fluid fondo-celeste slide-contenedor-generico">
	<div class="container fondo-blanco contenedor-generico">
		<div class="col-md-9 no-hpadding contenedor-main-izq">
			<h2>Creación incremental y colaborativa de estrategias digitales</h2>

			<h3>Necesidad</h3>
			<p>L'Oréal Argentina buscaba adoptar <b>nuevas formas internas de comunicación y trabajo en equipo</b> para transformarse y afrontar los desafíos que le presentan su industria y contexto, incluyendo:
<ul>
<li>4 divisiones de negocio que necesitaban <b>trabajar coordinadamente</b></li>
<li>La necesidad de una <b>estrategia digital innovadora</b>, centrada en el usuario</li>
<li>Aumentar la colaboración y la comunicación</li>
<li>Trabajar efectivamente en <b>proyectos dinámicos</b></li>
</ul>
</p>
<p>El outcome esperado era diseñar una <b>estrategia digital</b> para cada división que pueda ser implementada en los meses siguientes. El lema de la iniciativa internacional fue <i>“Digital at the Core”</i>.</p>

			<h3>Búsqueda de la solución</h3>
			<p>Los facilitadores de Kleer diseñaron el formato de cada encuentro junto al equipo de L’Oréal. El proyecto tuvo como sede el campus de <b><a href="https://www.digitalhouse.com/">Digital House</a></b>, una coding school ubicada en Belgrano. Aquí se llevaron adelante <b>actividades de co-creación</b> incrementales, con base en la <b>experimentación</b>.</p>
			<p>También se integraron expertos en distintas disciplinas, tales como marketing digital, user experience y campañas digitales. Sus charlas fueron documentadas en vivo por <b>facilitadores gráficos</b> para favorecer la recordación de los temas y causar un mayor impacto.
</p>

			<h3>Resultado</h3>
			<p>Luego de estos encuentros cada una de las divisiones de marketing de L’Oréal ideó y presentó al resto de la organización una estrategia digital validada a partir de experimentos. Los profesionales aprendieron una forma <b>incremental e iterativa</b> de trabajar en equipo, a partir de técnicas de <i>design thinking</i> y desarrollo ágil de productos.
</p>

		<p>Les compartimos el testimonio de Martín Jones, Multibrand Digital Manager de L'Oréal Argentina</p>
      <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/HvI-uBhfOFo" frameborder="0" allowfullscreen></iframe>
      </div>

		</div>
		<div class="col-md-3 hidden-xs hidden-sm">
			<%= erb :_twitter_widget, :layout => false %>
		</div>
	</div>	
</div>
