
<div class="container-fluid fondo-verde slide-header-generico">
	<div class="container">
		<div class="container-fluid container-header-generico">
			<div class="col-md-7">
				<h2>Equipos Scrum en Plataforma 10</h2>
				<img src="/img/prensa/casos/plataforma-10-logo.gif">
			</div>
			<div class="col-md-5 hidden-xs hidden-sm">
				&nbsp;<br/>
				<img src="/img/personajes/your-way-kleerer.png" height="400">
			</div>
		</div>
	</div>
</div>

<div class="container-fluid fondo-celeste slide-contenedor-generico">
	<div class="container fondo-blanco contenedor-generico">
		<div class="col-md-9 no-hpadding contenedor-main-izq">
			<h2>Valor para el negocio sin escalas en Plataforma 10</h2>

			<h3>Necesidad</h3>
			<p>Plataforma 10, una empresa líder en el mercado de la venta de pasajes en diversos medios de transporte, encontró que debía maximizar la velocidad de respuesta ante los cambios y desafíos del mercado.</p>

			<h3>Búsqueda de solución</h3>
			<p>Habiendo dado sus primeros pasos unos años atrás en metodologías ágiles (Scrum) y prácticas de ingeniería (integración continua, automatización, DevOps), vieron que necesitaban apoyo para consolidarlas y trasladarlas hasta las áreas de negocio, por lo que optaron por incorporar servicios de mentoring y coaching de Kleer.</p>

			<h3>Resultado</h3>
			<p>Desde el comienzo del proyecto se incorporaron activamente las áreas de negocio al proceso de desarrollo, priorizando, debatiendo, detallando y, en muchos casos, descartando tempranamente ideas sobre características a incorporar a los productos.</p>
			<p>La relación entre las áreas de negocio y los equipos de desarrollo cambió para siempre en la organización y la consecución de resultados mejoró en forma sustancial, el tiempo que la compañía se siempre mucho mejor preparada para los grandes desafíos por venir.</p>

			<p>Les compartimos el testimonio de Gustavo Markier, desde el punto de vista del negocio:</p>
      <div class="video-container">
        <iframe width="320" height="240" src="https://www.youtube.com/embed/uSzDiuY3P2o" frameborder="0" allowfullscreen></iframe>
      </div>

			<p>&nbsp;</p>
			<p>El testimonio de Gastón Waisman, desde el punto de vista de tecnología:</p>
      <div class="video-container">
        <iframe width="320" height="240" src="https://www.youtube.com/embed/m4c7WrWralI" frameborder="0" allowfullscreen></iframe>
      </div>

		</div>
		<div class="col-md-3 hidden-xs hidden-sm">
			<%= erb :_twitter_widget, :layout => false %>
		</div>
	</div>	
</div>
