
<div class="container-fluid fondo-verde slide-header-generico">
	<div class="container">
		<div class="container-fluid container-header-generico">
			<div class="col-md-7">
				<h2>Equipos Scrum en Technisys</h2>
				<img src="/img/prensa/casos/technisys-logo.png">
			</div>
			<div class="col-md-5 hidden-xs hidden-sm">
				&nbsp;<br/>
				<img src="/img/personajes/your-way-kleerer.png" height="400">
			</div>
		</div>
	</div>
</div>

<div class="container-fluid fondo-celeste slide-contenedor-generico">
	<div class="container fondo-blanco contenedor-generico">
		<div class="col-md-9 no-hpadding contenedor-main-izq">
			<h2>Caso 1: Equipos de desarrollo Scrum en Technisys</h2>

			<h3>Necesidad</h3>
			<p>Alejandro Raiczyk, a cargo del área de producto de Technisys, nos cuenta como, cuando llegó al área, vio una oportunidad de mejorar en los marcos de trabajo orientándose a las metodologías ágiles.</p>

			<h3>Búsqueda de solución</h3>
			<p>No disponiendo del know-how dentro de la empresa y no teniendo el tiempo para un proceso extenso de capacitación, optaron por incorporar servicios de mentoring y coaching de Kleer.</p>

			<h3>Resultado</h3>
			<p>En poco tiempo los equipos comenzaron a trabajar en forma más organizada, con mejor comunicación interna entre los diferentes grupos. En este aspecto, las reuniones de planificación aportaron visibilidad de los objetivos, lo mismo que las reuniónes de revisión (en iteraciones de tres semanas).</p>
			<p>Finalmente destaca la importancia de las reuniones de retrospectiva en el proceso de mejora continua liderado por los propios equipos.</p>

      <div class="video-container">
        <iframe width="320" height="240" src="https://www.youtube.com/embed/2oobhTSNQDg" frameborder="0" allowfullscreen></iframe>
      </div>

			<h2>Caso 2: Automatización de despliegue de software</h2>

			<h3>Necesidad</h3>
			<p>Nico Páez, especialista en automatización y desarrollo ágil en Kleer, nos cuenta los desafíos del área de producto de Technisys, con un software complejo desarrollado por múltiples equipos.</p>

			<h3>Búsqueda de solución</h3>
			<p>La necesidad de resolver el problema surgió al mismo tiempo desde los equipos de desarrollo y desde la gerencia decidiendo incorporar, también en este caso, servicios de mentoring y coaching de Kleer.</p>

			<h3>Resultado</h3>
			<p>Los equipos de desarrollo rápidamente se sumaron a la iniciativa cuyo fin, desde el principio, fue generar el conocimiento en el seno de los equipos, de manera que continuaran con la iniciativa una vez terminado el período de trabajo de Kleer.</p>
			<p>El proceso de despliegue, que antes estaba en la cabeza de ciertos ingenieros experimentados (que aún así, era muy frágil) paso a estar completamente convertido en código automatizable.</p>
			<p>El tiempo de despliegue de la solución completa, en la liberación de cada nueva versión, paso de varios días (con una incerteza muy grande) a unas pocas horas.</p>

      <div class="video-container">
        <iframe width="320" height="240" src="https://www.youtube.com/embed/9OD_Xp_ZivI" frameborder="0" allowfullscreen></iframe>
      </div>

		</div>
		<div class="col-md-3 hidden-xs hidden-sm">
			<%= erb :_twitter_widget, :layout => false %>
		</div>
	</div>	
</div>
