
<div class="container-fluid fondo-verde slide-header-generico">
	<div class="container">
		<div class="container-fluid container-header-generico">
			<div class="col-md-7">
				<h2>Paradigma ágil en tecnología y en negocio en Suramericana</h2>
				<img src="/img/prensa/casos/logo-suramericana.jpg">
			</div>
			<div class="col-md-5 hidden-xs hidden-sm">
				&nbsp;<br/>
				<img src="/img/personajes/your-way-kleerer.png" height="400">
			</div>
		</div>
	</div>
</div>

<div class="container-fluid fondo-celeste slide-contenedor-generico">
	<div class="container fondo-blanco contenedor-generico">
		<div class="col-md-9 no-hpadding contenedor-main-izq">
			<h2>El camino hacia el paradigma ágil en Suramericana</h2>

			<h3>Necesidad</h3>
			<p>Suramericana, una compañía de seguros de origen colombiano, líder en Latinoamérica, tomó contacto con el paradigma ágil en un taller de Kleer, en el año 2012. Sus directivos inmediatamente se dieron cuenta de que esta forma de trabajo podría ser el gran diferencial de cara al futuro.</p>

			<h3>Búsqueda de solución</h3>
			<p>Suramericana y Kleer entendieron rápidamente que ambas empresas podían aprender mucho en el camino hacia la agilidad y surgió, naturalmente, un clima de trabajo mutuamente conveniente que se ve plasmado y extendido a otras empresas del grupo económico, hasta el día de hoy.</p>

			<h3>Resultado</h3>
			<p>En el caso de Suramericana, como se ve en los testimonios que encontrarán más abajo, se consitituyó un grupo interno con apoyo continuo del equipo Kleer. Esto es algo que solemos recomendar en las organizaciones a las que acompañamos.</p>
			<p>Este grupo logró transformar la organización en las áreas de tecnología, con resultados asombrosos. Este impacto hizo que las áreas de negocio y corporativas vieran la oportunidad de aplicar las mismas ideas más allá de la tecnología.</p>
			<p>Un comentario aparte merecen los rápidos e importantes avances en áreas de negocio y cómo las ideas del paradigma ágil resultan atractivas en cuanto se las ve en funcionamiento. En Suramericana, en varios casos, el cambio hacia el paradigma ágil fluyó desde el área de negocio hacia el área de tecnología, lo que podría considerarse "el camino inverso" hace unos años.</p>

			<p>Les compartimos el testimonio de Carlos Hurtado, ahora Analista de Gestión de Cambio en Suramericana:</p>
      <div class="video-container">
        <iframe width="320" height="240" src="https://www.youtube.com/embed/G6yRoP-9A3s" frameborder="0" allowfullscreen></iframe>
      </div>

			<p>&nbsp;</p>
			<p>Les compartimos el testimonio de Valentina Sierra, de la Dirección de Soluciones de Tesorería en Suramericana:</p>
      <div class="video-container">
        <iframe width="320" height="240" src="https://www.youtube.com/embed/UYehhZxtyWo" frameborder="0" allowfullscreen></iframe>
      </div>

			<p>&nbsp;</p>
			<p>El testimonio de Jubel Correa, líder del equipo corporativo de coaches ágiles en Suramericana:</p>
      <div class="video-container">
        <iframe width="320" height="240" src="https://www.youtube.com/embed/8n20ul5Dyns" frameborder="0" allowfullscreen></iframe>
      </div>

		</div>
		<div class="col-md-3 hidden-xs hidden-sm">
			<%= erb :_twitter_widget, :layout => false %>
		</div>
	</div>	
</div>
