
<div class="container-fluid fondo-verde slide-header-generico">
	<div class="container">
		<div class="container-fluid container-header-generico">
			<div class="col-md-7">
				<h2>Equipos Scrum en Technisys</h2>
			</div>
			<div class="col-md-5 hidden-xs hidden-sm">
				&nbsp;<br/>
				<img src="/img/personajes/your-way-kleerer.png" height="400">
			</div>
		</div>
	</div>
</div>

<div class="container-fluid fondo-celeste slide-contenedor-generico">
	<div class="container fondo-blanco contenedor-generico">
		<div class="col-md-9 no-hpadding contenedor-main-izq">
			<h3>Como transformamos los equipos de desarrollo de producto</h3>

			<h4>Contexto</h4>
			<p>askjdflaksjdk alsdkjflñaksdjñlf adslckajsdñlkjasd alkdsnlaskdja alkdnlaskdjflaskd alda alkdlakdnlakjsd alkdlaksdjlaksjd aldknasldknalsd aldnalskdnlaskda slkdnlaknsdlk</p>

			<h4>Contexto</h4>
			<p>askjdflaksjdk alsdkjflñaksdjñlf adslckajsdñlkjasd alkdsnlaskdja alkdnlaskdjflaskd alda alkdlakdnlakjsd alkdlaksdjlaksjd aldknasldknalsd aldnalskdnlaskda slkdnlaknsdlk</p>

			<h4>Resultado</h4>
			<p>askjdflaksjdk alsdkjflñaksdjñlf adslckajsdñlkjasd alkdsnlaskdja alkdnlaskdjflaskd alda alkdlakdnlakjsd alkdlaksdjlaksjd aldknasldknalsd aldnalskdnlaskda slkdnlaknsdlk</p>

      <div class="video-container">
        <iframe width="320" height="240" src="https://www.youtube.com/embed/edh5xz7vyUI" frameborder="0" allowfullscreen></iframe>
      </div>

		</div>
		<div class="col-md-3 hidden-xs hidden-sm">
			<%= erb :_twitter_widget, :layout => false %>
		</div>
	</div>	
</div>
