<h1>Sepyme</h1>
Preparamos este video para vos, que explica el concepto de <strong>Sepyme</strong>, mediante el cual podés ahorrarte hasta el 90% del valor de este curso:
<center><iframe width="400" height="220" src="http://www.youtube.com/embed/GvCRXwOyk3w" frameborder="0" allowfullscreen></iframe></center>
<br/>Si necesitás más información, escribinos a <a href="mailto:sepyme@kleer.la">sepyme@kleer.la</a>, con mucho gusto responderemos todas tus dudas.
<br/>&nbsp;