<style>
	body {
		background: url(/img/fondos/fondo-08.jpg) no-repeat center center fixed; 
	}
</style>
<script type="text/javascript" src="/js/jquery.js"/></script>

<div class="row">
	<div class="span8" style="background-color:rgba(255,255,255,0.9);padding:5px;-moz-border-radius: 5px; border-radius: 5px;">
		<h1>Sepyme</h1>
		<p>Preparamos este video para vos, que explica el concepto de <strong>Sepyme</strong>. 
			<br/>Si necesitás más información, podés escribirnos a <a href="mailto:sepyme@kleer.la">sepyme@kleer.la</a>, con mucho gusto responderemos todas tus dudas.</p>
		&nbsp;
		<center><iframe width="640" height="480" src="http://www.youtube.com/embed/GvCRXwOyk3w" frameborder="0" allowfullscreen></iframe></center>
		&nbsp;
	</div>	
	<div class="span3" style="text-align:center;">  
		<img src="/img/logos/logo-05.png">
		<%= erb :twitter_box, :layout => false %>
	</div>
</div>