body { padding-top: 70px; }

.navbar {
	background-color: #1c1c1c;
}

.nav-logo {
	height: 40px;
}

.navbar .nav {
	float: right;
	margin-top: 20px;
	margin-bottom: 10px;
}

.navbar .nav > li > a {
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	text-shadow: none;
	font-weight: bold;
	color: #fff;
	padding: 10px 7px;
}

.navbar .nav > li > a:hover {
	color: #1c1c1c;
}

.navbar-toggle {
	border-color: #fff;
	color: #fff;
}

#index-creemos {
	background-image: url('/img/fondos/unidad-celeste.jpg');
	background-repeat: repeat;
}

.fondo-celeste-mosaico {
	background-image: url('/img/fondos/unidad-celeste.jpg');
	background-repeat: repeat;
}

.fondo-amarillo-mosaico {
	background-image: url('/img/fondos/unidad-amarillo.jpg');
	background-repeat: repeat;
}

.fondo-verde-mosaico {
	background-image: url('/img/fondos/unidad-verde.jpg');
	background-repeat: repeat;
}

.fondo-rosa-mosaico {
	background-image: url('/img/fondos/unidad-rosa.jpg');
	background-repeat: repeat;
}

.fondo-blanco-mosaico {
	background-image: url('/img/fondos/unidad-blanco.jpg');
	background-repeat: repeat;
}

.fondo-amarillo {
	background-color: #fef290;
}

.fondo-amarillo-top {
	position:relative;
	top:-30px;
	background-image: url('/img/diagonales/top-amarilla.png');
	margin-bottom: -30px;
}

.fondo-blanco {
	background-color: #fff;
}

.fondo-verde {
	background-color: #56f7cd;
}

.fondo-rosa {
	background-color: #ff7bad;
}

.fondo-celeste {
	background-color: #88cddc;
}

.fondo-gris {
	background-color: #1c1c1c;
}

.creemos {
	padding-top: 50px;
}